<app-header [setTitle]='myTitle'></app-header>
<app-sidemenu></app-sidemenu>
<div class="sub-header" [class.shadow]="shadow">
    <div class="subheader-wrapper">
        <div class="search-wrapper">
            <a class="search-icon"><i class="mdi mdi-magnify"></i></a>
            <input class="search-bar" placeholder="Search Name"/>
        </div>
        <div class="button-wrapper">
            <button title="Quick Filters" class="btn btn-default btn-icon"><i class="mdi mdi-filter-variant"></i></button>
            <button title="Download (.pdf)" class="btn btn-default btn-icon"><i class="mdi mdi-download"></i></button>
            <button title="Add Patient" class="btn btn-default btn-icon" routerLink="add-patient"><i class="mdi mdi-plus"></i></button>
        </div>
    </div>
</div>

<div *ngIf="patients?.length > 0; else noPatients" class="content-wrapper">
    <section >
        <ul class="list-view-wrapper">
            <li *ngFor="let patient of patients" class="list-view-item" (dblclick)="deletePatient($event, patient)"  routerLink="patient-details">
                <div class="item-thumbnail"><i class="mdi mdi-account"></i></div>
                <a class="item-name text-ellipsis">{{patient.name}}</a>
                <span class="item-desc text-ellipsis">{{patient.title}}</span>
            </li>
        </ul>
    </section>
</div>
<ng-template #noPatients>
    <hr>
        <h5>There are no patients on the list</h5>
</ng-template>
<!-- 
-<div class="content-wrapper">
    <section >
        <ul class="list-view-wrapper">
            <li class="list-view-item" routerLink="patient-details">
                <div class="item-thumbnail"><i class="mdi mdi-account"></i></div>
                <a class="item-name text-ellipsis">Sample Name</a>
                <span class="item-desc text-ellipsis">December 20, 2017</span>
            </li>
            <li class="list-view-item" routerLink="patient-details">
                <div class="item-thumbnail"><i class="mdi mdi-account"></i></div>
                <a class="item-name text-ellipsis">Sample Namsssssssssssfsadfadfadadfafadfadasfsfase</a>
                <span class="item-desc text-ellipsis">Description is tooo looooooooooooooooooooooooooong</span>
            </li>
            <li class="list-view-item" routerLink="patient-details">
                <div class="item-thumbnail"><i class="mdi mdi-account"></i></div>
                <a class="item-name text-ellipsis">Sample Name</a>
                <span class="item-desc text-ellipsis">December 20, 2017</span>
            </li>
            </ul>
            </section>

</div> -->