<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
             [color]="'#DE350B'" [trickleSpeed]="200" [thick]="true" [ease]="'linear'"
></ng-progress>
<app-header [setTitle]='myTitle'></app-header>
<app-sidemenu></app-sidemenu>
<div class="sub-header">
    <div class="subheader-wrapper">
        <div class="search-wrapper">
            <i class="search-icon mdi mdi-magnify"></i>
            <input class="search-bar" placeholder="Search Name" [(ngModel)]="searchterm" (keyup.enter)="search($event)"/>
        </div>
        <div class="button-wrapper">
            <button title="Quick Filters" class="btn btn-default btn-icon"><i class="mdi mdi-filter-variant"></i></button>
            <button title="Download (.pdf)" class="btn btn-default btn-icon"><i class="mdi mdi-download"></i></button>
            <button title="Add Patient" class="btn btn-default btn-icon" routerLink="add-patient"><i class="mdi mdi-plus"></i></button>
        </div>
    </div>
</div>

<div class="content-wrapper"  >
    <section>
        <ul class="list-view-wrapper">
            <li  *ngFor="let patient of patients" class="list-view-item" (click)="setPatientDetails($event, patient)" routerLink="patient-details">
                <div class="item-thumbnail"><i class="mdi mdi-account"></i></div>
                <a class="item-name text-ellipsis">{{patient.lastname}}, {{patient.firstname}} {{patient.middlename}}</a>
                <span class="item-desc text-ellipsis">{{patient.type}}</span>
            </li>
        </ul>
        <!-- <ngx-spinner loadingText="Please wait" type="ball-pulse"></ngx-spinner> -->
        <!-- <button class="btn btn-primary btn-wide" (click)="loadMorePatient()" >Load more...</button> -->
    </section>
    <section *ngIf="!hasList" class="empty-list-state">
        <div>
            <p>You don't have any patients yet.</p>
            <p style="margin-top: 5px;">Add your first patient now!</p>
        </div>
        <button class="btn btn-primary" routerLink="add-patient">Add Patient</button>
    </section>
</div>

<!--(click)="getPatientDetails($event, patient)" routerLink="patient-details">-->