.content-wrapper{
    max-width: 1024px;
    margin: auto;
    padding-top: 80px;
    overflow-y: auto;
}
section{
    background-color: white;
    padding:20px;
    border: 1px solid #fafafa;
}
@media only screen and (max-width:480px){
    .content-wrapper{
        max-width: 100%;}
    
    .form-subheader{
        padding-left: 20px;
        padding-right: 20px;
    }
}