<header class="header-secondary">
  <div class="header-wrapper">
    <div class="menu-left" (click)="goBack()">
      <i class="mdi mdi-arrow-left"></i>
    </div>
    <div class="menu-title">Prescription</div>
    <div class="menu-right">
      <span (click)='cancel()'>Cancel</span>
    </div>
  </div>
</header>
<div class="content-wrapper">
  <form [formGroup]="prescriptionForm" (ngSubmit)="addConsultationPrescription()">
    <section class="panel-container">
      <div class="form-group">
          <label>Patient Type*</label>
          <sui-select class="selection form-control"
          [isSearchable]="false" formControlName="patientType"  required>
              <sui-select-option value="In-Patient"></sui-select-option>
              <sui-select-option value="Out-Patient"></sui-select-option>
          </sui-select>
      </div>
      <div class="form-group" form>
        <label>Select Clinic</label>
        <sui-select class="selection form-control"
            [isSearchable]="false" id="clinics" formControlName="clinicname" >
            <sui-select-option *ngFor="let clinic of clinicsList" value="{{clinic.clinicname}}"></sui-select-option>
        </sui-select>
        <!-- <input formControlName="clinicname" name="clinicname" type="text" placeholder="Select Clinic" list="clinicsList" id="clinicname" data-list-filter="^" class="form-control">
        <datalist id="clinicsList">
          <select>
            <option *ngFor="let clinic of clinicsList" value="sample"></option>
          </select>
        </datalist> -->
      </div>
      <div class="form-group">
        <label for="username">Date</label>
        <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input suiDatepicker pickerUseNativeOnMobile="true" pickerMode="datetime" formControlName="date" name="date" class="form-control" type="date" placeholder="Enter Date" id="date">
        </div>
      </div>
    </section>
    <section class="section-container">
      <div class="add-new-prescription-wrapper">
        <h3>Add new prescription</h3>
        <button type="button" title="New Prescription" class="btn btn-default btn-icon" (click)="openAddPrescriptionModal()">
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
      <div class="prescription-list-wrapper">
        <ul class="list-view-wrapper">
          <!-- <li class="list-view-item">
            <div class="item-thumbnail">
              <i class="mdi mdi-pill"></i>
            </div>
            <a class="item-name text-ellipsis">Sample Prescription 001</a>
            <span class="item-desc text-ellipsis">Description....</span>
          </li>
          <li class="list-view-item">
            <div class="item-thumbnail">
              <i class="mdi mdi-pill"></i>
            </div>
            <a class="item-name text-ellipsis">Sample Prescription 001</a>
            <span class="item-desc text-ellipsis">Description...</span>
          </li> -->
          <li class="list-view-item" *ngFor="let med of medicineModel ; let i = index">
            <div class="item-thumbnail">
              <i class="mdi mdi-pill"></i>
            </div>
            <a class="item-name text-ellipsis">Index:{{i}} {{med.medicine}}</a>
            <span class="item-desc text-ellipsis">{{med.note}}</span>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-container ">

      <!-- <div class="form-group">
        <label for="username">Date</label>
        <input class="form-control" id="date" type="date">
      </div> -->
      <div class="form-group">
        <label>Remarks</label>
        <textarea formControlName="text" name="text" rows="20" cols="80" placeholder="Describe yourself here..." class="form-control-textarea"></textarea>
      </div>
      <!-- <button class="btn btn-primary btn-wide" type="submit" routerLink="../patient-details">Add Prescription</button> -->
      <button class="btn btn-primary btn-wide" type="submit">Add Prescription</button>
    </section>

  </form>
</div>


<ng-template class="customModal" let-context let-modal="modal" #addPrescriptionModal>
  <div class="header">Add New Prescription Item</div>
  <form [formGroup]="medicineForm" (ngSubmit)="addMedicine()">
  <div class="content">    
      <div class="form-group">
        <label>Select medicine from library</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <select formControlName="medicineName" name="medicineName"  class="form-control" autofocus required>
            <option value='' hidden>Select medicine</option>
            <option>Medicine 001</option>
            <option>Medicine 001</option>
            <option>Medicine 001</option>
            <option>Medicine 001</option>
            <option>Medicine 001</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Brand Name</label>
        <input formControlName="brandName" name="brandName" type="text" placeholder="Brand Name" class="form-control">
      </div>
      <div class="form-group">
        <label for="address">Generic Name</label>
        <input formControlName="genericName" name="genericName" type="text" placeholder="Generic Name" class="form-control">
      </div>
      <div class="split-container">
        <div class="form-group">
          <label for="address">Dose</label>
          <input formControlName="dose" name="dose" type="text" placeholder="Dose" class="form-control">
        </div>
        <div class="form-group">
          <label>Form</label>
          <div class="form-select-wrapper">
            <i class="mdi mdi-caret-down"></i>
            <select formControlName="form" name="form" class="form-control">
              <option value='' hidden>Select medicine</option>
              <option>Medicine 001</option>
              <option>Medicine 001</option>
              <option>Medicine 001</option>
              <option>Medicine 001</option>
              <option>Medicine 001</option>
            </select>
          </div>
        </div>
      </div>
      <div class="split-container">
        <div class="form-group">
          <label for="address">Quantity</label>
          <input formControlName="qty" name="qty" type="number" placeholder="0" class="form-control">
        </div>
      </div>
      <br>
      <hr>
      <h3>Sig</h3>
      <br>
      <div class="form-group">
        <label>Notes</label>
        <textarea formControlName="note" name="note" rows="5" cols="80" placeholder="Put your notes here..." class="form-control-textarea" type="text"></textarea>
      </div>
      <sui-accordion [closeOthers]="false">
        <sui-accordion-panel [isOpen]="false">
          <div title>
            <i class="dropdown icon"></i>
            Advance Sig
          </div>
          <div content>
            <div class="split-container">
              <div class="form-group">
                <label>Frequency</label>
                <div class="form-select-wrapper">
                  <i class="mdi mdi-caret-down"></i>
                  <select formControlName="frequency" name="frequency" class="form-control">
                    <option value='' hidden>Select frequency</option>
                    <option>Frequency 001</option>
                    <option>Frequency 001</option>
                    <option>Frequency 001</option>
                    <option>Frequency 001</option>
                    <option>Frequency 001</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="split-container">
              <div class="form-group">
                <label for="username">Start Date</label>
                <input formControlName="startDate" name="startDate" class="form-control" id="date" type="date">
              </div>
              <div class="form-group">
                <label for="username">End Date</label>
                <input formControlName="endDate" name="endDate" class="form-control" id="date" type="date">
              </div>
            </div>
          </div>
        </sui-accordion-panel>
      </sui-accordion>

  </div>
  </form>
  <div class="actions">
    <button class="ui  button" (click)="modal.deny('denied')">Back</button>
    <!-- <button class="ui green button" (click)="modal.approve('approved')" autofocus>Add New Schedule</button> -->
    <button class="ui green button" (click)="addMedicine()" autofocus>Add New Medicine</button>
  </div>

</ng-template>