.content-wrapper{
    max-width: 1024px;
    margin: auto;
}
.section-container{
    background-color: #fff;
    border-radius: 4px;
    padding:20px;
    margin: 20px auto 0px;
}
.add-new-prescription-wrapper{
    display: grid;
    grid-template-columns: 1fr 40px;
}

.add-new-prescription-wrapper > *{
    align-self: center;
}

.prescription-list-wrapper{
    padding-top: 10px;
}

.split-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

@media only screen and (max-width:1024px){
    .split-container{
        display: block;
    }
}

