header {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-auto-rows: 60px;
    width: 100%;
    background-color: #0052cc;
    color: white;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    align-items: center;
    
}
header .menu-hamburger{
    justify-self: end;
}
header .menu-title{
    justify-self: center;
}
header i{
    color: white;
}
.nav-up {
    top: -60px;
}