header {
    height: 60px;
    width: 100%;
    background-color: #0052cc;
    color: white;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    align-items: center;}
.header-wrapper{
    width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-auto-rows: 60px;}
.header-wrapper .menu-hamburger{
    align-self: center;
    padding-left: 20px;}
.header-wrapper .menu-title{
    justify-self: center;
    align-self: center;}
.header-wrapper .menu-more{
    align-self: center;
    justify-self: end;
    padding-right: 20px;
    font-size: 22px !important;}
.header-wrapper i{
    color: white;}
.nav-up {
    top: -60px;}

@media only screen and (max-width:768px){
    .header-wrapper{
        width: 100%;}
}