<header class="header-secondary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()"><i class="mdi mdi-close"></i></div>
        <div class="menu-title">New Consultation</div>
    </div>
</header>
<div class="content-wrapper">
  <div class="emr-item" routerLink="../consultation-text">
    <div class="emr-item-icon">
      <i class="mdi mdi-file-document"></i>
    </div>
    Text
  </div>
  <div class="emr-item" routerLink="../consultation-prescription">
    <div class="emr-item-icon">
      <i class="mdi mdi-prescription"></i>  
    </div>
    Prescription
  </div>
  <div class="emr-item" routerLink="../consultation-vitals">
    <div class="emr-item-icon">
      <i class="mdi mdi-clipboard-pulse"></i>
    </div>
    Vitals
  </div>  
</div>
