form{
    padding:30px;
}
.form-group{
    display: grid;
    grid-auto-columns: 100%;
    margin-bottom: 20px;
    label{
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 400;
        color: #5B5B5B;
    }
    input[type=text]{
        height: 36px;
        font-size: 14px;
        padding-left:10px;
        border: 1px solid #979797;
        border-radius: 3px; 
    }
}