
@import 'variables';
@import 'forms';
@import 'elements';

body {
    overflow-x: hidden;
    background-color: #FAFBFC;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto; 
}

label{
    color: #091E42;
    font-weight: 500;
}
.description{
    color: #5E6C84;
    padding: 10px 0;
    
}