<sidebar-js>
    <div class="sidenav-header">
        <h4>Doctor App</h4>
    </div>
    <div class="sidenav-content">
        <ul>
            <li routerLink="/home" routerLinkActive="active" sidebarjsToggle>Home</li>
            <li sidebarjsToggle>Appointment and Schedule</li>
            <hr>
            <li routerLink="/patient" routerLinkActive="active" sidebarjsToggle>Patients</li>
            <li sidebarjsToggle>ICD-10</li>
            <li sidebarjsToggle>Medications</li>
            <li sidebarjsToggle>Diagnostic Tests</li>
            <hr>
            <li routerLink="/templates" routerLinkActive="active" sidebarjsToggle><a>Templates</a></li>
            <hr>
            <li sidebarjsToggle>About Us</li>
        </ul>
    </div>
    <div class="sidenav-footer">
        <a routerLink="/account-settings" sidebarjsToggle><i class="mdi mdi-account"></i>Account Settings</a>
        <a class="logout" title="Logout" (click)="logout()" sidebarjsToggle><i class="mdi mdi-power"></i></a>
    </div>
</sidebar-js>