<sidebar-js>
    <div class="sidenav-header">
        <h4>Mr. Doctor</h4>
    </div>
    <div class="sidenav-content">
        <ul>
            <li routerLink="/home"  routerLinkActive="active" sidebarjsClose><a>Home</a></li>
            <li><a sidebarjsClose>Appointment and Schedule</a></li>
            <hr>
            <li><a sidebarjsClose>Queue List</a></li>
            <li routerLink="/patient" routerLinkActive="active" sidebarjsClose><a>Patient List</a></li>
            <li><a sidebarjsClose>ICD-10 List</a></li>
            <li><a sidebarjsClose>Medication List</a></li>
            <hr>
            <li><a sidebarjsClose>Diagnostic Test List</a></li>
            <li><a sidebarjsClose>Download Template</a></li>
            <hr>
            <li><a sidebarjsClose>Contact Us</a></li>
            <li><a sidebarjsClose>Privacy Policy</a></li>
        </ul>
    </div>
    <div class="sidenav-footer">
            <a><i class="zmdi zmdi-account"></i>Account Settings</a>
    </div>
</sidebar-js>