<sidebar-js>
    <div class="sidenav-header">
        <h4>Welcome Dr. Bisnar!</h4>
    </div>
    <div class="sidenav-content">
        <ul>
            <li routerLink="/home" routerLinkActive="active" sidebarjsToggle><a>Home</a></li>
            <li><a sidebarjsClose>Appointment and Schedule</a></li>
            <hr>
            <li routerLink="/patient" routerLinkActive="active" sidebarjsToggle><a>Patient</a></li>
            <li><a sidebarjsClose>ICD-10</a></li>
            <li><a sidebarjsClose>Medications</a></li>
            <li><a sidebarjsClose>Diagnostic Tests</a></li>
            <hr>
            <li><a sidebarjsClose>Download Templates</a></li>
            <hr>
            <li><a sidebarjsClose>About Us</a></li>
        </ul>
    </div>
    <div class="sidenav-footer">
        <a><i class="mdi mdi-account"></i>Account Settings</a>
        <a class="logout" title="Logout" routerLink="/signin" sidebarjsClose><i class="mdi mdi-power"></i></a>
    </div>
</sidebar-js>