<sidebar-js>
    <div class="sidenav-header">
        <h4>Patient Information System</h4>
    </div>
    <div class="sidenav-content">
        <ul>
            <li><a>Home</a></li>
            <li><a>Appointment and System</a></li>
            <hr>
            <li><a>Queue List</a></li>
            <li><a>Patient List</a></li>
            <li><a>ICD-10 List</a></li>
            <li><a>Medication List</a></li>
            <hr>
            <li><a>Diagnostic Test List</a></li>
            <li><a>Download Template</a></li>
            <hr>
            <li><a>Contact Us</a></li>
            <li><a>Privacy Policy</a></li>
        </ul>
    </div>
    <div class="sidenav-footer">
            <a><i class="zmdi zmdi-account"></i>Account Settings</a>
    </div>
</sidebar-js>