<header class="header-secondary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()">
            <i class="mdi mdi-close"></i>
        </div>
        <div class="menu-title">Weight</div>
    </div>
</header>
<div class="content-wrapper">
    <div class="tab-subheader">

        <!-- Still Need to Add Modal -->
        <h3>New weight reading</h3>
        <button title="New Consultation" class="btn btn-default btn-icon" (click)="openAddNewWeightModal(true)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
    <section>
        <ul class="list-view-wrapper">
            <li *ngFor="let vitals of vitalsCollection" class="list-view-item">
                <div class="item-thumbnail"><i class="mdi mdi-clipboard-pulse"></i></div>
                <a class="item-name text-ellipsis">{{vitals.weight}}</a>
                <span class="item-desc text-ellipsis">{{vitals.date}}</span>
            </li>
        </ul>
    </section>
</div>

<ng-template class="customModal" let-context let-modal="modal" #addNewWeightModal>
    <div class="header">Add New Weight</div>
    <div class="content">
        <form [formGroup]="vitalsWeightForm">
            <div class="form-group">
                <label for="username">Weight (kg)</label>
                <input type="text" class="form-control" formControlName="weight">
            </div>
            <div class="form-group">
                <label for="">Date</label>
                <div class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input suiDatepicker pickerUseNativeOnMobile="true" pickerMode="datetime" formControlName="datetime">
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui  button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" (click)="modal.approve('approved')" autofocus>Add New Weight</button>
    </div>
</ng-template>