<div class="tab-subheader">
  <h3>Add new health profile</h3>
  <button title="New Consultation" class="btn btn-default btn-icon" routerLink="../health-profile-selection">
    <i class="mdi mdi-plus"></i>
  </button>
</div>
<div class="content-wrapper">
  <div class="hp-list-view-header">
    <div class="list-view-header-details">
        <h5>Allergy</h5>
        <span>Last Updated: August 30, 2018</span>
    </div>
    <button title="New Allergy" class="btn btn-secondary btn-icon" routerLink="../health-profile-allergy">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
  <ul class="list-view-wrapper">
    <li *ngFor="let allergy of allergies" class="hp-allergy-list-view-item">
      <span>1</span>
      <div class="list-details">
          <a class="item-name text-ellipsis">{{allergy.allergyKind}} ({{allergy.allergyType}})</a>
          <span class="item-desc text-ellipsis">{{allergy.allergySeverity}}</span>
          <span class="item-desc text-ellipsis">{{allergy.Reaction}}</span>
      </div>
      <div class="ic-action-wrapper"><i (click)="setAllergyDetails($event, allergy)" routerLink="../health-profile-allergy" class="mdi mdi-pencil"></i></div>
    </li>
  </ul>
</div>