<header class="header-secondary">
  <div class="header-wrapper">
      <div class="menu-left" (click)="goBack()"><i class="mdi mdi-close"></i></div>
      <div class="menu-title">New Health Profile</div>
  </div>
</header>
<div class="hp-content-wrapper">
  <div class="hp-item" routerLink="../health-profile-allergy">
    Allergy
  </div>
  <div class="hp-item">
    Menstrual History
  </div>
  <div class="hp-item">
    Sexual History
  </div>
  <div class="hp-item">
    Obstetric History
  </div>
  <div class="hp-item">
    Growth Milestones
  </div>
  <div class="hp-item">
    Medication
  </div>
  <div class="hp-item">
    Medical History
  </div>
  <div class="hp-item">
    Immunization/Vaccination
  </div>
  <div class="hp-item">
    Procedures
  </div>
</div>
