<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
             [color]="'#DE350B'" [trickleSpeed]="200" [thick]="true" [ease]="'linear'"
></ng-progress>
<app-header [setTitle]='myTitle'></app-header>
<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
    <section class="overview-schedules">
        <h1>Appointment Schedules</h1>
        <div class="description">8 patients scheduled for appointment today.</div>
        <ul class="list-view-wrapper">
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-hospital-building"></i>
                </div>
                <a class="item-name text-ellipsis">St. Anthony Hospital</a>
                <span class="item-desc text-ellipsis">You have 4 patients here.</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-hospital-building"></i>
                </div>
                <a class="item-name text-ellipsis">Emmanuel Hospital</a>
                <span class="item-desc text-ellipsis">You have 2 patients here.</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-hospital-building"></i>
                </div>
                <a class="item-name text-ellipsis">Capiz Doctors Hospital</a>
                <span class="item-desc text-ellipsis">You have 10 patients here.</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-hospital-building"></i>
                </div>
                <a class="item-name text-ellipsis">Other Hospital</a>
                <span class="item-desc text-ellipsis">You have 10 patients here.</span>
            </li>
        </ul>
    </section>
    <section class="overview-patient-list">
        <h1>Recently Added Patients</h1>
        <div class="description">4 newly added patients.</div>
        <ul class="list-view-wrapper">
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-account"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Patient Name</a>
                <span class="item-desc text-ellipsis">In-patient</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-account"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Patient Name</a>
                <span class="item-desc text-ellipsis">In-patient</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-account"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Patient Name</a>
                <span class="item-desc text-ellipsis">In-patient</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-account"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Patient Name</a>
                <span class="item-desc text-ellipsis">In-patient</span>
            </li>
        </ul>
        <div class="more-actions-wrapper">
            <button class="btn btn-secondary btn-wide" routerLink="/patient">Show more...</button>
            <button class="btn btn-primary btn-wide" routerLink="/patient/add-patient">Add Patient</button>
        </div>
    </section>
    <section class="overview-templates">
        <h1>Downloadable Templates</h1>
        <div class="description">20 downloadable templates availabe.</div>
        <ul class="list-view-wrapper">
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
            <li class="list-view-item">
                <div class="item-thumbnail">
                    <i class="mdi mdi-file"></i>
                </div>
                <a class="item-name text-ellipsis">Sample Template Name</a>
                <span class="item-desc text-ellipsis">File size: 1MB</span>
            </li>
        </ul>
    </section>    
    <section class="overview-profile">
        <div class="overview-profile-wrapper">
            <p>Welcome</p>
            <h1>Doctor Name!</h1>
        </div>
    </section>
</div>