.content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    max-width: 1024px;
    margin: 15px auto;
    grid-gap: 30px;
    overflow-y: auto;}
section{
    font-size: 12px;
    /* padding: 10px; */
}
@media only screen and (max-width:1024px){
    .content-wrapper{
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;}}

