<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
             [color]="'#DE350B'" [trickleSpeed]="200" [thick]="true" [ease]="'linear'"
></ng-progress>
<app-header [setTitle]='myTitle'></app-header>
<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
    <section class="overview-schedules">
        <label>Appointment Schedules</label>
        <div class="description">You have a total of 8 patients scheduled for appointment today, January 29, 2018.</div>
        <ul>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
        </ul>
    </section>
    <section class="overview-patient-list">Recently Added Patients<button routerLink="/patient">Go to Patient</button></section>
    <section class="overview-templates">Downloadable Templates</section>    
    <section class="overview-profile">Welcome, Dr. Bisnar!</section>
</div>