<!-- <app-header></app-header> -->
<div class="content-wrapper">
    <section class="overview-schedules">
        <label>Appointment Schedules</label>
        <div class="description">You have a total of 8 patients scheduled for appointment today, January 29, 2018.</div>
        <ul>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
            <li>listsample</li>
        </ul>
        
    </section>
    <section class="overview-patient-list">Recently Added Patients</section>
    <section class="overview-templates">Downloadable Templates</section>    
    <section class="overview-profile">Welcome, Dr. Bisnar!</section>

</div>