.content-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: minmax(300px, auto); */
    max-width: 1024px;
    margin: auto;
    padding-top:80px !important;
    padding-bottom:40px !important;
    grid-gap: 30px;
    overflow-y: auto;
}

.list-view-wrapper{
    padding-top: 30px !important;
}
.overview-profile{
    background-color: #F4F5F7;
    border-radius: 4px;
    padding: 20px;
    align-self: start;
    grid-column: col / 1;
    position: relative;
}

.overview-profile-wrapper h1{
    font-size: 30px;
    padding-top: 5px;
    font-weight: 300;
}

.overview-profile-wrapper h3{
    float: left;
    display: inline-flex;
}
.overview-profile-wrapper span{
    float: right;
    display: inline-flex;
}
.more-actions-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}
@media only screen and (max-width:1024px){
    .content-wrapper{
        /* grid-template-columns: 1fr; */
        padding-left: 20px;
        padding-right: 20px;}
    .overview-profile{
        grid-column: initial;
    }
    .overview-profile-wrapper h3{
        float: initial;
        display: block;
    }
    .overview-profile-wrapper span{
        float: initial;
        display: block;
    }
}



