<header class="header-secondary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()">
            <i class="mdi mdi-close"></i>
        </div>
        <div class="menu-title">New Vital Signs</div>
        <!-- <div class="menu-right">
           <span (click)='cancel()'>Cancel</span>
        </div> -->
    </div>
  </header>
  <div class="content-wrapper">
    <form [formGroup]="vitalsForm" (ngSubmit)="addConsultationVitals()">
    <section class="panel-container">
        <div class="form-group">
            <label for="username">Date</label>
            <input 
            class="form-control"
            formControlName="date" 
            id="date" 
            type="date">
        </div>
    </section>
    <section class="details-area">
        <div class="form-inputs">
            <div class="form-group">
                <label>Weight (kg)</label>
                <input name="weight" class="form-control" type="text" formControlName="weight" id="weight" placeholder="Enter weight in kg" />
            </div>
            <div class="form-group">
                <label>Height (m)</label>
                <input name="height" class="form-control" type="text" formControlName="height" id="height" placeholder="Enter height in m" />
            </div>
            <div class="form-group">
                <label>Blood Pressure (mmHg)</label>
                <input name="blood-pressure" class="form-control" type="text" formControlName="bloodPressure" id="bloodPressure" placeholder="Enter blood pressure in mmHg" />
            </div>
            <div class="form-group">
                <label>Oxygen Saturation (%)</label>
                <input name="oxygen-saturation" class="form-control" type="text" formControlName="oxygenSaturation" id="oxygenSaturation" placeholder="Enter oxygen saturation in %" />
            </div>
            <div class="form-group">
                <label>Respiratory Rate (breaths/min)</label>
                <input name="respiratory-rate" class="form-control" type="text" formControlName="respiratoryRate" id="respiratoryRate" placeholder="Enter respiratory rate in breaths/min" />
            </div>
            <div class="form-group">
                <label>Heart Rate (bpm)</label>
                <input name="heart-rate" class="form-control" type="text" formControlName="heartRate" id="heartRate" placeholder="Enter heart rate in bpm" />
            </div>
            <div class="form-group">
                <label>Body Temperature (&#x2103;)</label>
                <input name="body-temperature" class="form-control" type="text" formControlName="bodyTemperature" id="bodyTemperature" placeholder="Enter body temperature in celsius" />
            </div>
            <div class="form-group">
                <label>Head circumference (cm)</label>
                <input name="head-circumference" class="form-control" type="text" formControlName="headCircumference" id="headCircumference" placeholder="Enter head circumference in cm" />
            </div>
            <div class="form-group">
                <label>Capillary Blood Glucose (mg/dL)</label>
                <input name="capillary-blood-glucose" class="form-control" type="text" formControlName="capillaryBloodGlucose"  id="capillaryBloodGlucose" placeholder="Enter capillary blood glucose in mg/dL" />
            </div>
        </div>
    </section>
    <section>
        <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.vitalsForm.valid">Add New Vital Signs</button>
    </section>
  </form>
  </div>