.content-wrapper{
    max-width: 600px;
    margin: auto;
    padding-top: 80px;
    overflow-y: auto;
}
.text-header{
    font-size: 20px;
    font-weight: 500;
    margin: 3%;
}
section{
    background-color: white;
    padding:20px;
    /* border-radius: 3px; */
    border: 1px solid #fafafa;
    /* box-shadow: 0px 1px 4px #f1f1f1; */
}
@media only screen and (max-width:480px){
    .content-wrapper{
        max-width: 100%;}
    
    .form-subheader{
        padding-left: 20px;
        padding-right: 20px;
    }
}

input[type=date]{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !important;}

.form-subheader-action{
    display: grid;
    grid-template-columns: 1fr 40px;
}
.form-subheader-title{
    align-self: center;
}
    
.subheader-wrapper{
    display: grid;
    max-width: 1024px;
    margin: auto;
    grid-template-columns: 2fr 42px;
    grid-auto-rows: 60px;
    grid-gap: 5px;
    padding: auto 20px;}
.search-wrapper{
    align-self: center;}
    @media only screen and (max-width:1024px){
        .subheader-wrapper{
            margin-left: 6px;
            margin-right: 6px;}
        }

.button-wrapper{
    display: inline-flex;
    align-self: center;
    position: relative;
    justify-self: end;
}

.button-wrapper button{
    margin: 2px;
}

.empty-list-state{
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.empty-list-state .btn-primary{
    margin-top: 20px;
    padding: auto 10px;
    width: 190px;
}


.clinic-details-list-view-item{
    display: grid;
    grid-template-columns: 40px 1fr;
    border-bottom: 2px solid #FAFBFC;
    padding: 15px;
    outline: none;
    font-size: 12pt;
    font-weight: 200;
    background-color: #fff;
    position: relative;
}
.hp-allergy-list-view-item > span{
    padding: 5px;
}
.list-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:20px
}
.hp-allergy-list-view-item:active{
    background-color:#FAFBFC;
}
.hp-allergy-list-view-item:hover{
    background-color:#FAFBFC;
    cursor: pointer;
}
.ic-action-wrapper{
    position: absolute;
    right: 20px;
    line-height: 50px;
    color: #333;
    padding:10px;
}
.ic-action-wrapper:hover{
    color: #0052cc;
}

@media only screen and (max-width: 420px){
    .list-details{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left:10px
    }
}