<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
        [direction]="'leftToRightIncreased'" [color]="'#DE350B'" [trickleSpeed]="200" [thick]="true" [ease]="'linear'"></ng-progress>
<header class="header-primary">
        <div class="header-wrapper">
                <div class="menu-left" (click)="goBack()">
                        <i class="mdi mdi-arrow-left"></i>
                </div>
                <div class="menu-title">Clinic Details</div>
        </div>
</header>
<div class="content-wrapper">
        
    <form [formGroup]="clinicForm" >
                <div class="form-subheader">Basic Information</div>
                <section>
                    <div class="form-group">
                        <label for="username">Clinic Name</label>
                        <input formControlName="clinicname" id="clinicname" type="text" class="form-control">
                        <div *ngIf="clinicname.touched && clinicname.invalid" class="alert alert-danger hasError-text">
                            <div *ngIf="clinicname.errors.required">Clinic name is required</div>
                            <div *ngIf="clinicname.errors.minlength">Clinic should be minimum {{clinicname.errors.minlength.requiredLength}} </div>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="username">Phone</label>
                        <input formControlName="phone" id="phone" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="username">Mobile</label>
                        <input formControlName="mobile" id="mobile" type="text" class="form-control">
                    </div>
                </section>
                <div class="form-subheader">Address</div>
                <section>
                    <div class="form-group">
                        <label>Province</label>
                        <sui-select class="selection form-control"
                            [isSearchable]="false" id="province" formControlName="province" >
                            <sui-select-option *ngFor="let province of provinceList" value="{{province.name}}"></sui-select-option>
                        </sui-select>
                        <!-- <input type="text" placeholder="Find province" list="provinceList" id="province" formControlName="province" data-list-filter="^"
                            class="form-control">
                        <datalist id="provinceList">
                            <select>
                                <option *ngFor="let province of provinceList" value="{{province.name}}"></option>
                            </select>
                        </datalist> -->
                        <div *ngIf="province.touched && province.invalid" class="alert alert-danger hasError-text">
                            <div *ngIf="province.errors.required">Province is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <sui-select class="selection form-control"
                            [isSearchable]="false" id="city" formControlName="city" >
                            <sui-select-option *ngFor="let province of cityList" value="{{province.name}}"></sui-select-option>
                        </sui-select>
                        <!-- <input type="text" placeholder="Find city" list="cityList" id="city" formControlName="city" data-list-filter="^" class="form-control">
                        <datalist id="cityList">
                            <select>
                                <option *ngFor="let city of cityList" value="{{city.name}}"></option>
                            </select>
                        </datalist> -->
                        <div *ngIf="city.touched && city.invalid" class="alert alert-danger hasError-text">
                            <div *ngIf="city.errors.required">City is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hospital</label>
                        <sui-select class="selection form-control"
                            [isSearchable]="true" id="hospital" formControlName="hospital" >
                            <sui-select-option *ngFor="let hospital of hospitalList" value="{{hospital.name}}"></sui-select-option>
                        </sui-select>
                        <!-- <input type="text" placeholder="Find hospital" list="hospitalList" id="hospital" formControlName="hospital" data-list-filter="^"
                        class="form-control">
                        <datalist id="hospitalList">
                            <select>
                                <option *ngFor="let hospital of hospitalList" value="{{hospital.name}}"></option>
                            </select>
        
                        </datalist> -->
                        <div *ngIf="hospital.touched && hospital.invalid" class="alert alert-danger hasError-text">
                            <div *ngIf="hospital.errors.required">Hospital is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roomnumber">Room number</label>
                        <input formControlName="roomnumber" id="roomnumber" type="text" class="form-control">
                        <div *ngIf="roomnumber.touched && roomnumber.invalid" class="alert alert-danger hasError-text">
                            <div *ngIf="roomnumber.errors.required">Room number is required</div>
                        </div>
                    </div>
        
                </section>
        
                <div class="form-subheader form-subheader-action">
                    <div class="form-subheader-title">Clinic Schedule</div>
                    <button title="Add Clinic Schedule" class="btn btn-default btn-icon" (click)="openClinicScheduleFromDetails(true)">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
                <div>
                        <ul *ngIf="clinicScheduleList" class="list-view-wrapper">
                                <li *ngFor="let clinicScheduleItem of clinicScheduleList " class="clinic-details-list-view-item" (click)="openClinicScheduleFromDetails(false)">
                                    <div class="item-thumbnail">
                                       <i class="mdi mdi-hospital-building"></i>
                                    </div>
                                    <div class="list-details">
                                        <a class="item-name text-ellipsis" >{{clinicScheduleItem.clinicSchedule.clinicDay}} </a> 
                                        <a class="item-desc text-ellipsis" >{{clinicScheduleItem.clinicSchedule.clinicType}} </a> 
                                        <div class="item-desc text-ellipsis" >{{clinicScheduleItem.clinicSchedule.startTime}} - {{clinicScheduleItem.clinicSchedule.endTime}} </div> 
                                    </div>
                                   
                                </li>   
                        </ul>
                </div>
                <section>
                    <button class="btn btn-primary btn-wide" (click)="updateClinic()" >Update Clinic</button>
                </section>
        </form>
</div>


<ng-template class="customModal" let-context let-modal="modal" #clinicScheduleModalFromDetails>
    <div class="header">{{ modalTitle }}</div>
    <div class="content">
        <form  id="clinicScheduleFormID">
                <div class="form-group">
                <label>Day</label>
                <input type="text" placeholder="Choose Day" list="daysOfTheWeekList" id="clinicDay" data-list-filter="^"
                    class="form-control">
                <datalist id="daysOfTheWeekList">
                    <select>
                            <option>Sample</option>
                            <option>Sample</option>
                            <option>Sample</option>
                        <!-- <option *ngFor="let clinicDay of daysOfTheWeekList" value="{{clinicDay.day}}"></option> -->
                    </select>

                </datalist>
                </div>
                <div class="form-group">
                <label>Clinic Type</label>
                <input type="text" placeholder="No Clinic" 
                list="clinicTypeList" 
                id="clinicType" 
                    data-list-filter="^" class="form-control">
                <datalist id="clinicTypeList">
                    <select>
                    <option value="No Clinic"></option>
                    <option value="Appointment"></option>
                    <option value="Walk-in"></option>
                    </select>
                </datalist>
                </div>
                <div class="form-group">
                <label for="address">From</label>
                <input type="time" placeholder="00:00" id="startTime"  class="form-control">
                </div>
                <div class="form-group">
                <label for="address">To</label>
                <input type="time" placeholder="00:00" id="endTime"   class="form-control">
                </div>
            </form>
    </div>
    <div class="actions">
        <button class="ui  button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button"  (click)="modal.approve('approved')" autofocus>Add New Schedule</button>
    </div>
</ng-template>
