<header class="header-primary">
  <div class="header-wrapper">
    <div class="menu-left" (click)="goBack()">
      <i class="mdi mdi-arrow-left"></i>
    </div>
    <div class="menu-title">My Profile</div>
  </div>
</header>

<div class="content-wrapper">
  <div class="form-subheader">Basic Information</div>
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    <section>
      <div class="form-group">
        <label>First Name</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input formControlName="firstname" name="firstname" class="form-control" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <label>Middle Name</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input formControlName="middlename" name="middlename" class="form-control" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input formControlName="lastname" name="lastname" class="form-control" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <label>Birthdate</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input formControlName="birthdate" name="birthdate" class="form-control" type="date"/>
        </div>
      </div>
      <div class="form-group">
        <label>Contact Number</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input formControlName="contact" name="contact" class="form-control" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input formControlName="address" name="address" class="form-control" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input formControlName="email" name="email" class="form-control" type="text" />
        </div>
      </div>

    </section>
    <div class="form-subheader">Your Specialty</div>
    <section>
      <div class="form-inputs">
        <div class="form-group">
          <label>Select your specialty*</label>
          <div class="form-select-wrapper">
            <i class="mdi mdi-caret-down"></i>
            <!-- <select  name="type" class="form-control">
              <option value='' hidden>Select specialty</option>
              <option>Sample Specialty 001</option>
              <option>Sample Specialty 002</option>
              <option>Sample Specialty 003</option>
              <option>Sample Specialty 004</option>
              <option>Sample Specialty 005</option>
            </select> -->
            <sui-select class="selection form-control"
                      [options]="options"
                      [isSearchable]="searchable"
                      [isDisabled]="disabled"
                      #select>
              <sui-select-option *ngFor="let option of select.filteredOptions"
                                [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
        </div>
      </div>
      <!-- <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.ptnForm.valid">Save Changes</button>      -->
      <button class="btn btn-primary btn-wide" type="submit">Save Changes</button>     
    </section>
  </form>
</div>
  