<header class="header-primary">
  <div class="header-wrapper">
    <div class="menu-left" (click)="goBack()">
      <i class="mdi mdi-arrow-left"></i>
    </div>
    <div class="menu-title">My Profile</div>
  </div>
</header>

<div class="content-wrapper">
  <div class="form-subheader">Basic Information</div>
  <section>
    <div class="form-inputs">
      <div class="form-group">
        <label>First Name</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input name="firstname" class="form-control" type="text" value="{{doctor.name}}"/>
        </div>
      </div>
      <div class="form-group">
        <label>Middle Name</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input name="middlename" class="form-control" type="text" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input name="lastname" class="form-control" type="text" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label>Birthdate</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input name="birthdate" class="form-control" type="date"  value="" />
        </div>
      </div>
      <div class="form-group">
        <label>Contact Number</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input name="contactnumber" class="form-control" type="text"  value=""/>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input name="address" class="form-control" type="text"  value=""/>
        </div>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <input name="emailaddress" class="form-control" type="text"  value="{{doctor.email}}" />
        </div>
      </div>
    </div>
  </section>
  <div class="form-subheader">Your Specialty</div>
  <section>
    <div class="form-inputs">
      <div class="form-group">
        <label>Select your specialty*</label>
        <div class="form-select-wrapper">
          <i class="mdi mdi-caret-down"></i>
          <!-- <select  name="type" class="form-control">
            <option value='' hidden>Select specialty</option>
            <option>Sample Specialty 001</option>
            <option>Sample Specialty 002</option>
            <option>Sample Specialty 003</option>
            <option>Sample Specialty 004</option>
            <option>Sample Specialty 005</option>
          </select> -->
          <sui-select class="selection"
                    [(ngModel)]="selectedOption"
                    [options]="options"
                    labelField="name"
                    [isSearchable]="searchable"
                    [isDisabled]="disabled"
                    #select>
            <sui-select-option *ngFor="let option of select.filteredOptions"
                               [value]="option">
            </sui-select-option>
        </sui-select>
        </div>
      </div>
    </div>
    <!-- <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.ptnForm.valid">Save Changes</button>      -->
    <button class="btn btn-primary btn-wide" type="submit">Save Changes</button>     
  </section>
</div>
  