<header class="header-primary">
	<div class="header-wrapper">
		<div class="menu-left" routerLink="../../patient">
			<i class="mdi mdi-arrow-left"></i>
		</div>
		<div class="menu-title">Patient Details</div>
		<div class="menu-right">
			<i class="mdi mdi-dots-horizontal"></i>
		</div>
	</div>
</header>
<div class="content-wrapper">

	<sui-tabset>
		<div class="ui top attached tabular menu">
			<a class="item" suiTabHeader="1">Consultation</a>
			<a class="item" suiTabHeader="2">Personal Profile</a>
			<a class="item" suiTabHeader="3">Heath Profile</a>
			<a class="item" suiTabHeader="4">Vital Signs</a>
			<a class="item" suiTabHeader="5">Health Records</a>
		</div>
		<!-- Consultation Tab -->
		<div class="ui bottom attached segment" suiTabContent="1">
			<pd-consultation></pd-consultation>
		</div>
		<!-- Personal Profile Tab -->
		<div class="ui bottom attached segment" suiTabContent="2">
			<pd-personal-profile></pd-personal-profile>
		</div>
		<!-- Health Profile Tab -->
		<div class="ui bottom attached segment" suiTabContent="3">Third tab!</div>
		<!-- Vital Signs Tab -->
		<div class="ui bottom attached segment" suiTabContent="4">Fourth tab!</div>
		<!-- Health Records Tab -->
		<div class="ui bottom attached segment" suiTabContent="5">Fifth tab!</div>
	</sui-tabset>
</div>