<header class="header-primary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()">
                <i class="mdi mdi-arrow-left"></i>
        </div>
        <div class="menu-title">Add New Clinic</div>
    </div>
</header>
<div class="content-wrapper">
    <form [formGroup]="clinicForm" (ngSubmit)="addClinic()">
        <div class="form-subheader">Basic Information</div>
        <section>
            <div class="form-group">
                <label for="username">Clinic Name</label>
                <input formControlName="clinicname" id="clinicname" type="text" class="form-control">
                <div *ngIf="clinicname.touched && clinicname.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="clinicname.errors.required">Clinic name is required</div>
                    <div *ngIf="clinicname.errors.minlength">Clinic should be minimum {{clinicname.errors.minlength.requiredLength}} </div>
                </div>

            </div>
            <div class="form-group">
                <label for="username">Phone</label>
                <input formControlName="phone" id="phone" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="username">Mobile</label>
                <input formControlName="mobile" id="mobile" type="text" class="form-control">
            </div>
        </section>
        <div class="form-subheader">Address</div>
        <section>
            <div class="form-group">
                <label>Province</label>
                <input type="text" placeholder="Find province" list="provinceList" id="province" formControlName="province" data-list-filter="^" class="form-control"> 
                <datalist id="provinceList">
                    <select>
                        <option  *ngFor="let province of provinceList" value="{{province.name}}"></option>    
                    </select>
                </datalist>
                <div *ngIf="province.touched && province.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="province.errors.required">Province is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" placeholder="Find city" list="cityList" id="city" formControlName="city" data-list-filter="^" class="form-control"> 
                <datalist id="cityList">
                    <select>
                        <option  *ngFor="let city of cityList" value="{{city.name}}"></option>    
                    </select>
                </datalist>
                <div *ngIf="city.touched && city.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="city.errors.required">City is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Hospital</label>
                <input type="text" placeholder="Find hospital" list="hospitalList" id="hospital" formControlName="hospital" data-list-filter="^" class="form-control"> 
                <datalist id="hospitalList">
                    <select>
                        <option  *ngFor="let hospital of hospitalList" value="{{hospital.name}}"></option>    
                    </select>
                 
                </datalist>
                <div *ngIf="hospital.touched && hospital.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="hospital.errors.required">Hospital is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="roomnumber">Room number</label>
                <input formControlName="roomnumber" id="roomnumber" type="text" class="form-control">
                <div *ngIf="roomnumber.touched && roomnumber.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="roomnumber.errors.required">Room number is required</div>
                </div>
            </div>
            
        </section>

        <div class="form-subheader">Clinic schedule</div>
        <section>
            <div class="form-group">
                <label>Day</label>
                <input type="text" placeholder="Monday" list="clinicDay" id="clinic" formControlName="clinic" data-list-filter="^" class="form-control"> 
                <datalist id="clinicDay">
                    <select>
                        <option value="Monday"></option>
                        <option value="Tuesday"></option>
                        <option value="Wednesday"></option>
                        <option value="Thursday"></option>
                        <option value="Friday"></option>
                        <option value="Saturday"></option>
                        <option value="Sunday"></option>
                    </select>
                </datalist>
            </div> 
            <div class="form-group">
                <label>Clinic Type</label>
                <input type="text" placeholder="No Clinic" list="clinicType" id="clinic" formControlName="clinic" data-list-filter="^" class="form-control"> 
                <datalist id="clinicType">
                    <select>
                        <option value="No Clinic"></option>
                        <option value="Appointment"></option>
                        <option value="Walk-in"></option>
                    </select>
                </datalist>
            </div> 
            <div class="form-group">   
                <label for="address">From</label>
                <input type="time" placeholder="00:00" id="mondayFromTime" class="form-control">
            </div>
            <div class="form-group">    
                <label for="address">To</label>
                <input type="time" placeholder="00:00" id="mondayToTime" class="form-control">       
            </div>

            <button class="btn btn-primary" type="submit" >Add Clinic Schedule</button>
            </section>
            <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.clinicForm.valid">Add Clinic</button>
    </form>
</div>