<header class="header-primary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()">
            <i class="mdi mdi-arrow-left"></i>
        </div>
        <div class="menu-title">Add New Clinic</div>
    </div>
</header>
<div class="content-wrapper">
    <form [formGroup]="clinicForm" (ngSubmit)="addClinic()">
        <div class="form-subheader">Basic Information</div>
        <section>
            <div class="form-group">
                <label for="username">Clinic Name</label>
                <input formControlName="clinicname" id="clinicname" type="text" class="form-control">
                <div *ngIf="clinicname.touched && clinicname.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="clinicname.errors.required">Clinic name is required</div>
                    <div *ngIf="clinicname.errors.minlength">Clinic should be minimum {{clinicname.errors.minlength.requiredLength}} </div>
                </div>

            </div>
            <div class="form-group">
                <label for="username">Phone</label>
                <input formControlName="phone" id="phone" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="username">Mobile</label>
                <input formControlName="mobile" id="mobile" type="text" class="form-control">
            </div>
        </section>
        <div class="form-subheader">Address</div>
        <section>
            <div class="form-group">
                <label>Province</label>
                <input type="text" placeholder="Find province" list="provinceList" id="province" formControlName="province" data-list-filter="^"
                    class="form-control">
                <datalist id="provinceList">
                    <select>
                        <option *ngFor="let province of provinceList" value="{{province.name}}"></option>
                    </select>
                </datalist>
                <div *ngIf="province.touched && province.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="province.errors.required">Province is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" placeholder="Find city" list="cityList" id="city" formControlName="city" data-list-filter="^" class="form-control">
                <datalist id="cityList">
                    <select>
                        <option *ngFor="let city of cityList" value="{{city.name}}"></option>
                    </select>
                </datalist>
                <div *ngIf="city.touched && city.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="city.errors.required">City is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Hospital</label>
                <input type="text" placeholder="Find hospital" list="hospitalList" id="hospital" formControlName="hospital" data-list-filter="^"
                    class="form-control">
                <datalist id="hospitalList">
                    <select>
                        <option *ngFor="let hospital of hospitalList" value="{{hospital.name}}"></option>
                    </select>

                </datalist>
                <div *ngIf="hospital.touched && hospital.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="hospital.errors.required">Hospital is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="roomnumber">Room number</label>
                <input formControlName="roomnumber" id="roomnumber" type="text" class="form-control">
                <div *ngIf="roomnumber.touched && roomnumber.invalid" class="alert alert-danger hasError-text">
                    <div *ngIf="roomnumber.errors.required">Room number is required</div>
                </div>
            </div>

        </section>

        <div class="form-subheader form-subheader-action">
            <div class="form-subheader-title">Clinic Schedule</div>
            <button title="Add Patient" class="btn btn-default btn-icon" (click)="openClinicSchedule()">
                <i class="mdi mdi-plus"></i>
            </button>
        </div>
        <div>
                
            <ul class="list-view-wrapper" id="scheduleList">
                <li class="list-view-item" *ngFor="let clinicSchedule of clinicSchedulesList">
                    <div class="item-thumbnail"><i class="mdi mdi-calendar"></i></div>
                    <a class="item-name text-ellipsis"> {{ clinicSchedule.clinicDay }}</a>
                    <span class="item-desc text-ellipsis">{{ clinicSchedule.startTime }} - {{ clinicSchedule.endTime}}| {{ clinicSchedule.clinicType }}</span>
                </li>
            </ul>
        </div>
        <section>
            <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.clinicForm.valid">Add Clinic</button>
        </section>
    </form>
</div>

<ng-template class="customModal" let-context let-modal="modal" #addClinicScheduleModal>
    <div class="header">Add Schedule</div>
    <div class="content">
        <form [formGroup]="clinicScheduleForm" (ngSubmit)="addClinicSchedule()">
              <div class="form-group">
                <label>Day</label>
                <input type="text" placeholder="Monday" list="clinicDayList" id="clinicDay" formControlName="clinicDay" data-list-filter="^" class="form-control">
                <datalist id="clinicDayList">
                  <select>
                    <option value="Monday"></option>
                    <option value="Tuesday"></option>
                    <option value="Wednesday"></option>
                    <option value="Thursday"></option>
                    <option value="Friday"></option>
                    <option value="Saturday"></option>
                    <option value="Sunday"></option>
                  </select>
                </datalist>
              </div>
              <div class="form-group">
                <label>Clinic Type</label>
                <input type="text" placeholder="No Clinic" 
                list="clinicTypeList" 
                id="clinicType" 
                formControlName="clinicType" data-list-filter="^" class="form-control">
                <datalist id="clinicTypeList">
                  <select>
                    <option value="No Clinic"></option>
                    <option value="Appointment"></option>
                    <option value="Walk-in"></option>
                  </select>
                </datalist>
              </div>
              <div class="form-group">
                <label for="address">From</label>
                <input type="time" placeholder="00:00" id="startTime"  formControlName="startTime" class="form-control">
              </div>
              <div class="form-group">
                <label for="address">To</label>
                <input type="time" placeholder="00:00" id="endTime"  formControlName="endTime" class="form-control">
              </div>
          </form>
    </div>
    <div class="actions">
        <button class="ui  button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" (click)="modal.approve('approved')" autofocus>Add New Schedule</button>
    </div>
</ng-template>