<div class="tab-subheader">
  <h3>New consultation</h3>
  <button title="New Consultation" class="btn btn-default btn-icon" routerLink="../consultation-selection">
    <i class="mdi mdi-plus"></i>
  </button>
</div>
<div>
  <div class="consultation-wrapper">
    <ul class="list-view-wrapper">
      <li *ngFor="let consultation of consultations" class="consultation-list-view-item">
        <div class="item-thumbnail">
          <i class="mdi mdi-file"></i>
        </div>
        <div class="item-details">
          <a class="item-name text-ellipsis">{{consultation.type}}</a>
          <div class="item-desc text-ellipsis">{{consultation.patientType}}</div>
          <div class="item-desc text-ellipsis">{{consultation.text}}</div>
          <div class="item-desc text-ellipsis">{{consultation.date}}</div>
        </div>
      </li>
    </ul>
  </div>