<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
             [color]="'#DE350B'" [trickleSpeed]="200" [thick]="true" [ease]="'linear'"
></ng-progress>
<div class="signup-page">
  <div class="signup-wrapper">
    <div *ngIf="hasError" class="hasError-bar">
        <p style="align-self: center;">{{error.message}}</p>
        <i class="mdi mdi-close" (click)="closeErrorBar()"></i>
    </div>
    <h1 class="title">Register</h1>
    <form class="signup-form"(ngSubmit)="onSignup(signupForm)" #signupForm="ngForm">
      <div class="form-inputs">
        <div class="form-group">
          <label>Email</label>
          <input  class="form-control" 
                  type="email" 
                  id="email" 
                  name="email" 
                  ngModel 
                  placeholder="Enter email"
                  required
                  />
        </div>
        <div class="form-group">
          <label>Password</label>
          <div class="form-input-icon">
            <input  class="form-control inpu" 
                    [type]="passwordType" 
                    id="password" 
                    name="password" 
                    ngModel 
                    placeholder="Enter password"
                    required
                    />
            <i [class]="iconStyle" (click)="togglePassword()"></i>
          </div>

        </div>
      </div>
      <div class="form-actions">      
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.form.valid">Register</button>
        <button style="margin-top:10px;" class="btn btn-secondary" routerLink="/signin">Cancel</button>  
      </div>
    </form>
  </div>
</div>

