 <div class="tab-subheader">
    <h3>New vital signs readings</h3>
    <button title="New Consultation" class="btn btn-default btn-icon" routerLink="../vital-signs-all">
        <i class="mdi mdi-plus"></i>
    </button>
</div>
<div class="vitals-wrapper">
    <div class="vitals-chart-wrapper">
        <div class="vitals-chart-header">
            <h3>Weight</h3>
            <a routerLink="../vital-signs-weight">Edit</a>
        </div>
        <div #weightChart></div>
    </div>
    <div class="vitals-chart-wrapper">
        <div class="vitals-chart-header">
            <h3>Height</h3>
        </div>
        <div #heightChart></div>
    </div>
 </div>