<div class="tab-subheader">
    <h3>New vital signs reading</h3>
    <button title="New Consultation" class="btn btn-default btn-icon" routerLink="../vital-signs-all">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
<div class="vitals-wrapper">
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Weight (kg)</div>
                <div class="vt-last-update">
                    Last updated:{{weightDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{weightData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Height (cm)</div>
                <div class="vt-last-update">
                    Last updated: {{heightDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{heightData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Blood Pressure (mmHg)</div>
                <div class="vt-last-update">
                    Last updated: {{bloodPressureDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{bloodPressureData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Oxygen Saturation (%)</div>
                <div class="vt-last-update">
                    Last updated: {{oxygenSaturationDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{oxygenSaturationData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Respiratory Rate (breaths/min)</div>
                <div class="vt-last-update">
                    Last updated: {{respiratoryRateDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{respiratoryRateData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Heart Rate (bpm)</div>
                <div class="vt-last-update">
                    Last updated: {{heartRateDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{heartRateData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Body Temperature (&#x2103;)</div>
                <div class="vt-last-update">
                    Last updated: {{bodyTempDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{bodyTempData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Head Circumference (cm)</div>
                <div class="vt-last-update">
                    Last updated: {{headCircumDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{headCircumData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
    <div class="vitals-item-wrapper">
        <div class="vital-item-values">
            <div class="vt-left-content">
                <div>Capillary Blood Glucose (mg/dL)</div>
                <div class="vt-last-update">
                    Last updated: {{capillaryBloodGlucDate}}
                </div>
            </div>
            <div class="vt-right-content">
                <span>{{capillaryBloodGlucData}}</span>
            </div>
        </div>
        <div class="vital-item-viewgraph">
            <a href="#">VIEW GRAPH</a>
        </div>
        <div class="vital-item-edit">
            <a routerLink="../vital-signs-weight">EDIT</a>
        </div>
    </div>
 </div>