<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
        [color]="'#DE350B'" [trickleSpeed]="200" [thick]="true" [ease]="'linear'"></ng-progress>
<header class="header-primary">
        <div class="header-wrapper">
                <div class="menu-left" (click)="goBack()">
                        <i class="mdi mdi-arrow-left"></i>
                </div>
                <div class="menu-title">My Clinics</div>
        </div>
</header>
<app-sidemenu></app-sidemenu>

<div class="sub-header">
        <div class="subheader-wrapper">
                <div class="search-wrapper">
                        <i class="search-icon mdi mdi-magnify"></i>
                        <input class="search-bar" placeholder="Search Clinic" />
                </div>
                <div class="button-wrapper">

                        <button title="Add Patient" class="btn btn-default btn-icon" routerLink="add-clinic">
                                <i class="mdi mdi-plus"></i>
                        </button>
                </div>
        </div>
</div>
<div class="content-wrapper">
        <section>
                <ul class="list-view-wrapper">
                        <li *ngFor="let clinic of clinics" class="list-view-item" routerLink="view-clinic-schedules">
                                <div class="item-thumbnail">
                                        <i class="mdi mdi-hospital-building"></i>
                                </div>
                                <a class="item-name text-ellipsis">{{clinic.clinicname}} </a> 
                                <a class="item-name text-ellipsis">{{clinic.hospital}}</a>
                                <br/>
                                <span class="item-desc text-ellipsis">{{clinic.city}}</span>
                        </li>
                </ul>
                <!-- <ngx-spinner loadingText="Please wait" type="ball-pulse"></ngx-spinner> -->
                <!-- <button class="btn btn-primary btn-wide" (click)="loadMorePatient()" >Load more...</button> -->
        </section>
</div>