<header class="header-secondary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()">
            <i class="mdi mdi-arrow-left"></i>
        </div>
        <div class="menu-title">Text</div>
        <div class="menu-right">
           <span (click)='cancel()'>Cancel</span>
        </div>
    </div>
</header>
<div class="content-wrapper">
    <form [formGroup]="consultationForm" (ngSubmit)="addConsultationText()">
    <section class="panel-container">
        <div class="form-group" form>
            <label>Select Clinic</label>
            <div class="form-select-wrapper">
                <i class="mdi mdi-caret-down"></i>
                <select name="clinicname" 
                class="form-control"
                formControlName="clinicname"
                id="clinicname">
                    <option value='' hidden>Select Clinic</option>
                    <option>St. Anthony College Hospital</option>
                    <option>Emmanuel Hospital</option>
                    <option>Capiz Doctor's Hospital</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Date</label>
            <input 
            class="form-control"
            formControlName="date" 
            id="date" 
            type="date">
        </div>
    </section>
    <section class="text-area">
        <div class="form-group">
            <label>Write notes below</label>
            <textarea rows="20" cols="80" placeholder="Describe yourself here..." 
            class="form-control-textarea" 
            formControlName="text" 
            id="text" 
            type="text"></textarea>
        </div>      
    </section>
     <section>
        <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.consultationForm.valid">Add Text</button>
    </section>
</form>
</div>