<header class="header-secondary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()">
            <i class="mdi mdi-arrow-left"></i>
        </div>
        <div class="menu-title">Text</div>
        <div class="menu-right">
           <span (click)='cancel()'>Cancel</span>
        </div>
    </div>
</header>
<div class="content-wrapper">
    <form [formGroup]="consultationForm" (ngSubmit)="addConsultationText()">
    <section class="panel-container">
        <div class="form-group">
            <label>Patient Type*</label>
            <div class="form-select-wrapper">
                <i class="mdi mdi-caret-down"></i>
                <select name="type" class="form-control" required>
                    <option value='' hidden>Select Patient Type</option>
                    <option>Admitted</option>
                    <option>In-Patient</option>
                </select>
            </div>
        </div>
        <div class="form-group" form>
            <label>Select Clinic</label>
            <input type="text" placeholder="Select Clinic" list="clinicsList" id="clinics" formControlName="clinicname" data-list-filter="^" class="form-control">
            <datalist id="clinicsList">
                <select>
                    <option *ngFor="let clinic of clinicsList" value="{{clinic.clinicname}}"></option>
                </select>
            </datalist>  
        </div>
        <div class="form-group">
            <label for="username">Date</label>
            <input 
            class="form-control"
            formControlName="date" 
            id="date" 
            type="date">
        </div>
    </section>
    <section class="text-area">
        <div class="form-group">
            <label>Write notes below</label>
            <textarea rows="20" cols="80" placeholder="Describe yourself here..." 
            class="form-control-textarea" 
            formControlName="text" 
            id="text" 
            type="text"></textarea>
        </div>      
        <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.consultationForm.valid">Add Text</button>
    </section>
</form>
</div>