<header class="header-secondary">
    <div class="header-wrapper">
        <div class="menu-left" (click)="goBack()">
            <i class="mdi mdi-arrow-left"></i>
        </div>
        <div class="menu-title">Text</div>
        <div class="menu-right">
           <span (click)='cancel()'>Cancel</span>
        </div>
    </div>
</header>
<div class="content-wrapper">
    <form [formGroup]="consultationForm" (ngSubmit)="addConsultationText()">
    <section class="panel-container">
        <div class="form-group">
            <label>Patient Type*</label>
            <sui-select class="selection form-control"
            [isSearchable]="false" formControlName="patientType" required>
                <sui-select-option value="In-Patient"></sui-select-option>
                <sui-select-option value="Out-Patient"></sui-select-option>
            </sui-select>
        </div>
        <div class="form-group">
            <label>Select Clinic</label>
            <sui-select class="selection form-control"
                [isSearchable]="false" id="clinics" formControlName="clinicname" >
                <sui-select-option *ngFor="let clinic of clinicsList" value="{{clinic.clinicname}}"></sui-select-option>
            </sui-select>
        </div>
        <div class="form-group">
            <label for="username">Date</label>
            <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input suiDatepicker pickerUseNativeOnMobile="true" pickerMode="datetime" formControlName="date" name="date" class="form-control" type="date" placeholder="Enter Date" id="date">
            </div>
        </div>
    </section>
    <section class="text-area">
        <div class="form-group">
            <label>Write notes below</label>
            <textarea rows="20" cols="80" placeholder="Describe yourself here..." 
            class="form-control-textarea" 
            formControlName="text" 
            id="text" 
            type="text"></textarea>
        </div>      
        <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.consultationForm.valid">Add Text</button>
    </section>
</form>
</div>