.content-wrapper{
    max-width: 600px;
    margin: auto;
    padding-top: 80px;
    overflow-y: auto;
}
.no-border{
    border: 0px;
}
.account-greetings{
    padding: 5px;
}
.account-settings-item{
    background-color: #fff;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    padding: 15px;
}
.account-settings-item .item-name{
    align-self: center;
}
@media only screen and (max-width:480px){
    .content-wrapper{
        max-width: 100%;}
    
    .form-subheader{
        padding-left: 20px;
    }
    .account-settings-item{
        padding-left: 20px;
        padding-right: 20px;
    }
    .account-greetings{
        padding-left: 20px;
        padding-right: 20px;
    }
}
