<div class="form-inputs">
  <div class="form-group">
    <label>Patient Type*</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.type}}" [(ngModel)]="patient.type"/>
  </div>
  <div class="form-group">
    <label>First Name*</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.firstname}}" [(ngModel)]="patient.firstname"/>
  </div>
  <div class="form-group">
    <label>Middle Name</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.middlename}}" [(ngModel)]="patient.middlename"/>
  </div>
  <div class="form-group">
    <label>Last Name*</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.lastname}}" [(ngModel)]="patient.lastname"/>
  </div>
  <div class="form-group">
    <label>Gender</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.gender}}" [(ngModel)]="patient.gender"/>
  </div>
  <div class="form-group">
    <label>Birthdate</label>
    <input *ngIf="patient != null" class="form-control" type="date" value="{{patient.birthdate}}" [(ngModel)]="patient.birthdate"/>
  </div>
  <div class="form-group">
    <label>Address</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.address}}" [(ngModel)]="patient.address"/>
  </div>
  <div class="form-group">
    <label>Occupation</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.occupation}}" [(ngModel)]="patient.occupation"/>
  </div>
  <div class="form-group">
    <label>Landline</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.landline}}" [(ngModel)]="patient.landline"/>
  </div>
  <div class="form-group">
    <label>Mobile No.</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.mobile}}" [(ngModel)]="patient.mobile"/>
  </div>
  <div class="form-group">
    <label>Email
      <Address></Address>
    </label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.email}}" [(ngModel)]="patient.email"/>
  </div>
  <div class="form-group">
    <label>Height</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.height}}" [(ngModel)]="patient.height"/>
  </div>
  <div class="form-group">
    <label>weight</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.weight}}" [(ngModel)]="patient.weight"/>
  </div>
  <div class="form-group">
    <label>Body Mass Index</label>
    <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.bmi}}" [(ngModel)]="patient.bmi"/>
  </div>
</div>
<h5>For Emergency</h5>
<br>
<div class="form-group">
  <label>First Name</label>
  <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.emgy_firstname}}" [(ngModel)]="patient.emgy_firstname"/>
</div>
<div class="form-group">
  <label>Middle Name</label>
  <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.emgy_middlename}}" [(ngModel)]="patient.emgy_middlename"/>
</div>
<div class="form-group">
  <label>Last Name</label>
  <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.emgy_lastname}}" [(ngModel)]="patient.emgy_lastname"/>
</div>
<div class="form-group">
  <label>Contact No.</label>
  <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.emgy_contact}}" [(ngModel)]="patient.emgy_contact"/>
</div>
<div class="form-group">
  <label>Email</label>
  <input *ngIf="patient != null" class="form-control" type="text" value="{{patient.emgy_email}}" [(ngModel)]="patient.emgy_email"/>
</div>
<button class="btn btn-primary btn-wide" type="submit" (click)="editPatientDetails()">Save</button>