<header class="header-secondary">
  <div class="header-wrapper">
      <div class="menu-left" (click)="goBack()">
          <i class="mdi mdi-arrow-left"></i>
      </div>
      <div class="menu-title">Allergy</div>
  </div>
</header>
<div class="content-wrapper">
    <form>
        <section>
            <div class="form-inputs">
                <div class="form-group">
                    <label>Allergy Type*</label>
                    <sui-select class="selection form-control" [isSearchable]="false" name="Allergy Type" [(ngModel)]="allergy.allergyType" required>
                        <sui-select-option value="Food"></sui-select-option>
                        <sui-select-option value="Drug"></sui-select-option>
                        <sui-select-option value="Environmental"></sui-select-option>
                    </sui-select>

                    <!-- value="{{allergy.allergyType}}"  -->
                </div>
                <div class="form-group">
                    <label>Allergy*</label>
                    <sui-select class="selection form-control" [isSearchable]="false" name="Allergy Kind" [(ngModel)]="allergy.allergyKind" required>
                        <sui-select-option value="Allergy 1"></sui-select-option>
                        <sui-select-option value="Allergy 2"></sui-select-option>
                        <sui-select-option value="Allergy 3"></sui-select-option>
                    </sui-select>
                    <!-- <div class="form-select-wrapper">
                        <i class="mdi mdi-caret-down"></i>
                        <select name="Allergy Kind" class="form-control" value="{{allergy.allergyKind}}" [(ngModel)]="allergy.allergyKind" required>
                            <option value='' hidden>Select Allergy</option>
                            <option>Allergy 1</option>
                            <option>Allergy 2</option>
                            <option>Allergy 3</option>
                        </select>
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Severity</label>
                    <sui-select class="selection form-control" [isSearchable]="false" name="Allergy Severity" [(ngModel)]="allergy.allergySeverity" required>
                        <sui-select-option value="Mild"></sui-select-option>
                        <sui-select-option value="Moderate"></sui-select-option>
                        <sui-select-option value="Severe"></sui-select-option>
                    </sui-select>
                    <!-- <div class="form-select-wrapper">
                        <i class="mdi mdi-caret-down"></i>
                        <select name="Allergy Severity" class="form-control" value="{{allergy.allergySeverity}}" [(ngModel)]="allergy.allergySeverity" required>
                            <option value='' hidden>Select Severity</option>
                            <option>Mild</option>
                            <option>Moderate</option>
                            <option>Severe</option>
                        </select>
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Reaction</label>
                    <input name="Allergy Reaction" class="form-control" type="text" placeholder="Enter Reaction" value="{{allergy.allergyReaction}}" [(ngModel)]="allergy.allergyReaction"/>
                    <!-- <control-messages [control]="ptnForm.controls.address"></control-messages> -->
                </div>
              </div>
            </section>
            <section *ngIf="!isEdit">
                <button class="btn btn-primary btn-wide" (click)="addAllergy()">Add Allergy</button>     
            </section>
            <section *ngIf="isEdit">
                <button class="btn btn-primary btn-wide" (click)="editAllergy()">Update Allergy</button>     
            </section>
    </form>
</div>