<header class="header-secondary">
  <div class="header-wrapper">
      <div class="menu-left" (click)="goBack()">
          <i class="mdi mdi-arrow-left"></i>
      </div>
      <div class="menu-title">Vitals</div>
      <div class="menu-right">
         <span (click)='cancel()'>Cancel</span>
      </div>
  </div>
</header>
<div class="content-wrapper">
  <form [formGroup]="consultationForm" (ngSubmit)="addConsultationText()">
  <section class="panel-container">
      <div class="form-group">
          <label>Patient Type*</label>
          <div class="form-select-wrapper">
              <i class="mdi mdi-caret-down"></i>
              <select name="type" class="form-control" required>
                  <option value='' hidden>Select Patient Type</option>
                  <option>Admitted</option>
                  <option>In-Patient</option>
              </select>
          </div>
      </div>
      <div class="form-group" form>
          <label>Select Clinic</label>
          <input type="text" placeholder="Select Clinic" list="clinicsList" id="clinics" formControlName="clinicname" data-list-filter="^"
                  class="form-control">
              <datalist id="clinicsList">
                  <select>
                      <option *ngFor="let clinic of clinicsList" value="{{clinic.clinicname}}"></option>
                  </select>
              </datalist>  
      </div>
      <div class="form-group">
          <label for="username">Date</label>
          <input 
          class="form-control"
          formControlName="date" 
          id="date" 
          type="date">
      </div>
  </section>
  <section class="details-area">
      <div class="form-inputs">
          <div class="form-group">
              <label>Weight (kg)</label>
              <input name="weight" class="form-control" type="text" placeholder="Enter weight in kg" />
          </div>
          <div class="form-group">
              <label>Height (m)</label>
              <input name="height" class="form-control" type="text" placeholder="Enter height in m" />
          </div>
          <div class="form-group">
              <label>Blood Pressure (mmHg)</label>
              <input name="blood-pressure" class="form-control" type="text" placeholder="Enter blood pressure in mmHg" />
          </div>
          <div class="form-group">
              <label>Oxygen Saturation (%)</label>
              <input name="oxygen-saturation" class="form-control" type="text" placeholder="Enter oxygen saturation in %" />
          </div>
          <div class="form-group">
              <label>Respiratory Rate (breaths/min)</label>
              <input name="respiratory-rate" class="form-control" type="text" placeholder="Enter respiratory rate in breaths/min" />
          </div>
          <div class="form-group">
              <label>Heart Rate (bpm)</label>
              <input name="heart-rate" class="form-control" type="text" placeholder="Enter heart rate in bpm" />
          </div>
          <div class="form-group">
              <label>Body Temperature (&#x2103;)</label>
              <input name="body-temperature" class="form-control" type="text" placeholder="Enter body temperature in celsius" />
          </div>
          <div class="form-group">
              <label>Head circumference (cm)</label>
              <input name="head-circumference" class="form-control" type="text" placeholder="Enter head circumference in cm" />
          </div>
          <div class="form-group">
              <label>Capillary Blood Glucose (mg/dL)</label>
              <input name="capillary-blood-glucose" class="form-control" type="text" placeholder="Enter capillary blood glucose in mg/dL" />
          </div>
      </div>
  </section>
  <section>
      <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.consultationForm.valid">Add Vitals</button>
  </section>
</form>
</div>