<div class="login-page">
  <div class="login-wrapper">
    <div class="login-cover">
    </div>
    <form (ngSubmit)="onSignin(loginForm)" #loginForm="ngForm">
      <div class="hasError-bar" *ngIf="hasError">
          <div>Invalid Email and/or Password</div>
        </div>
      <div class="login-forms">
          <div class="form-inputs">
              <div class="form-group">
                <label>Email</label>
                <input  class="form-control" 
                        type="email" 
                        id="email" 
                        name="email" 
                        ngModel 
                        placeholder="Enter email"
                        required
                        />
              </div>
              <div class="form-group">
                <label>Password</label>
                <div class="form-input-icon">
                    <input  class="form-control" 
                            [type]="passwordType" 
                            id="password" 
                            name="password" 
                            ngModel 
                            placeholder="Enter password"
                            required
                            />
                    <i [class]="iconStyle" (click)="togglePassword()"></i>
                  </div>
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary" type="submit" [disabled]="!loginForm.form.valid">Sign In</button>
            </div>
            <div class="call-to-action-register">
              <span>
                Don't have an account?
                <a routerLink="/signup">Register Now! </a>
              </span>
            </div>
      </div>
      
    </form>
  </div>
</div>