.login-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100vh;
    background-color:#F7F8FB;
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;}
.login-page .login-wrapper{
    display: grid;
    grid-template-rows:5fr 2fr;
    align-self: center;
    justify-self: center;
    background-color: white;
    width: 450px;
    height: 500px;
    box-shadow: 1px 2px 5px #f1f1f1;
    border-radius: 4px;}
.login-page .login-cover{
    border-radius: 4px 4px 0px 0px;
    background: url('../../../assets/img/login-cover2.jpg') center left no-repeat;}
.call-to-action-register{
        padding-top: 20px;
        text-align: center;}
.login-page .login-wrapper button{
    width: 100%;}

.login-forms{
    padding:30px;}
@media only screen and (max-width:768px){
    .login-page .login-wrapper{
        align-self: flex-start;
        justify-self: flex-start;
        width: 100%;
        height: 100%;}
}
.hasError-bar{
    width: 100%;
    background-color: #DE350B;
    color: white !important;
    align-self: end;
    height: 38px;
    padding: 13px;
    font-size: 12px;
}
.hasError-text{
    width: 100%;
    color: red !important;
    align-self: end;
    height: 30px;
    padding: 10px;
}