<header class="header-primary">
    <div class="header-wrapper">
        <div class="menu-left"><a (click)="goBack()"><i class="mdi mdi-arrow-left"></i></a></div>
        <div class="menu-title">Add New Patient</div>
    </div>
</header>
<div class="content-wrapper">
    <form [formGroup]="ptnForm" (ngSubmit)="addPatient()">
        <!-- {{ptnForm.value | json }}
        {{ptnForm.valid | json }} -->
        <div class="form-subheader">Basic Information</div>
        <section>
            <div class="form-inputs">
                <div class="form-group">
                    <label>Patient Type*</label>
                    <div class="form-select-wrapper">
                        <i class="mdi mdi-caret-down"></i>
                        <select formControlName="type" name="type" class="form-control" required>
                            <option value='' hidden>Select Patient Type</option>
                            <option>In-Patient</option>
                            <option>Admitted</option>
                        </select>
                    </div>
                    <control-messages [control]="ptnForm.controls.type"></control-messages>
                </div>
                <div class="form-group">
                    <label>First Name*</label>
                    <input formControlName="firstname" name="firstname" class="form-control" type="text" placeholder="Enter first name" />
                    <control-messages [control]="ptnForm.controls.firstname"></control-messages>
                </div>
                <div class="form-group">
                    <label>Middle Name*</label>
                    <input formControlName="middlename" name="middlename" class="form-control" type="text" placeholder="Enter middle name" />
                    <control-messages [control]="ptnForm.controls.middlename"></control-messages>
                </div>
                <div class="form-group">
                    <label>Last Name*</label>
                    <input formControlName="lastname" name="lastname" class="form-control" type="text" placeholder="Enter last name" />
                    <control-messages [control]="ptnForm.controls.lastname"></control-messages>
                </div>
                <div class="form-group">
                    <label>Gender*</label>
                    <div class="form-inline">
                        <div class="form-radio">
                            <div class="form-radio-item">
                                <input formControlName="gender" type="radio" value="Male" name="gender" />
                                <p>Male</p>
                            </div>
                            <div class="form-radio-item">
                                <input formControlName="gender" type="radio" value="Female" name="gender" />
                                <p>Female</p>
                            </div>
                        </div>
                        <control-messages [control]="ptnForm.controls.gender"></control-messages>
                    </div>
                </div>
                <div class="form-group">
                    <label>Birthdate*</label>
                    <input formControlName="birthdate" name="birthdate" class="form-control" type="date" placeholder="Enter birthday" />
                    <control-messages [control]="ptnForm.controls.birthdate"></control-messages>
                </div>

                <div class="form-group">
                    <label>Address*</label>
                    <input formControlName="address" name="address" class="form-control" type="text" placeholder="Enter address" />
                    <control-messages [control]="ptnForm.controls.address"></control-messages>
                </div>
                <div class="form-group">
                    <label>Occupation</label>
                    <input formControlName="occupation" name="occupation" class="form-control" type="text" placeholder="Enter occupation" />
                </div>
                <div class="form-group">
                    <label>Landline No.</label>
                    <input formControlName="landline" name="landline" class="form-control" type="number" placeholder="Enter landline no." />
                </div>
                <div class="form-group">
                    <label>Mobile No.*</label>
                    <input formControlName="mobile" name="mobile" class="form-control" type="number" placeholder="Enter mobile no." />
                    <control-messages [control]="ptnForm.controls.mobile"></control-messages>
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input formControlName="email" name="email" class="form-control" type="email" placeholder="Enter email address" />
                </div>
                <div class="form-group">
                    <label>Height (cm)</label>
                    <input formControlName="height" name="height" class="form-control" type="number" placeholder="Enter height" />
                </div>
                <div class="form-group">
                    <label>Weight (kg)</label>
                    <input formControlName="weight" name="weight" class="form-control" type="number" placeholder="Enter weight" />
                </div>
                <div class="form-group">
                    <label>Body Mass Index (BMI)</label>
                    <input formControlName="bmi" name="bmi" class="form-control" type="number" placeholder="Enter Body Mass Index (BMI)" />
                </div>
            </div>
        </section>


        <div class="form-subheader">For Emergency</div>
        <section>
            <div class="form-group">    
                <label for="emgy_firstname">First Name*</label>
                <input formControlName="emgy_firstname" class="form-control" type="text" placeholder="Enter first name" name="emgy_firstname" />
                <control-messages [control]="ptnForm.controls.emgy_firstname"></control-messages>
            </div>
            <div class="form-group">
                <label for="emgy_middlename">Middle Name*</label>
                <input formControlName="emgy_middlename" class="form-control" type="text" placeholder="Enter middle name" name="emgy_middlename" />
                <control-messages [control]="ptnForm.controls.emgy_middlename"></control-messages>
            </div>
            <div class="form-group">
                <label for="emgy_lastname">Last Name*</label>
                <input formControlName="emgy_lastname" class="form-control" type="text" placeholder="Enter last name" name="emgy_lastname" />
                <control-messages [control]="ptnForm.controls.emgy_lastname"></control-messages>
            </div>
            <div class="form-group">
                <label for="emgy_contact">Contact No.*</label>
                <input formControlName="emgy_contact" class="form-control" type="number" placeholder="Enter contact no." name="emgy_contact" />
                <control-messages [control]="ptnForm.controls.emgy_contact"></control-messages>
            </div>
            <div class="form-group">
                <label for="emgy_email">Email Address</label>
                <input formControlName="emgy_email" class="form-control" type="text" placeholder="Enter email address" name="emgy_email" />
            </div>
            <button class="btn btn-primary btn-wide" type="submit" [disabled]="!this.ptnForm.valid">Add Patient</button>    
        </section>
    </form>
</div>