<app-header [setTitle]='myTitle'></app-header>
<app-sidemenu></app-sidemenu>
<p style="padding-top: 60px">
  a-testbackend works!
</p>
<p>{{weight}} Weight</p><p>{{height}} Height</p>
<p>BMI: {{bmi}}</p>
<p>You are {{bmi_category}}</p>
<form class="signup-form"  #signupForm="ngForm">
  <div class="form-inputs">
    <div class="form-group">
      <label>Weight</label>
      <input  class="form-control" 
              type="number" 
              id="weight" 
              name="weight" 
              [(ngModel)]="weight" 
              placeholder="Enter weight"
              required
              
              />
    </div>
    <div class="form-group">
      <label>Height</label>
      <input  class="form-control" 
              type="number" 
              id="height" 
              name="height" 
              [(ngModel)]="height" 
              placeholder="Enter height"
              required
              
              />
    </div>

  </div>
  <div class="form-actions">      
    <button class="btn btn-primary" type="submit" (click)="calculate()" >calculate bmi</button>
  </div>
</form>